.box {
        animation: up-down 1s ease-in-out infinite;
        -webkit-animation: up-down 1s ease-in-out infinite;
        /* vendor prefix for Safari/Chrome */
}

@keyframes up-down {
        0% {
                top: 0;
        }

        50% {
                top: 20px;
        }

        100% {
                top: 0;
        }
}

/* vendor prefix for Safari/Chrome */
@-webkit-keyframes up-down {
        0% {
                top: 0;
        }

        50% {
                top: 20px;
        }

        100% {
                top: 0;
        }
}