.section-3{
    height: 100%;
    width: 100%;
    padding: 3rem 3rem 0rem 3rem;
}

.section-3-content{
    display: flex;
    width: 100%;
    height: 100%;
}
.section-3-image{
    display: flex;
    align-items: flex-end;
   width: 30%;
}
.section-3-phrase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}
.section-3-p{
    font-size: 5rem;
    font-family: $sec_font;
    font-weight: $light;
    text-align: center;
    letter-spacing: .12rem;
    margin: 0;
}
.section-3-title{
    font-size: 10rem;
    text-align: start;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
    padding: 0;
}