.layout-upper-section{
    background-image: url(../../images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100dvh;
}
.layout-section{
    height: 100vh;
    height: 100dvh;
}